/* Sort strings file */
@import '103-sort_list';

@function bubble_sort($list) {
    $length: length($list);
    $sorted: $list;
    
    @for $i from 1 through $length {
        @for $j from 1 through $length - 1 {
            @if nth($sorted, $j) > nth($sorted, $j + 1) {
                $temp: nth($sorted, $j);
                $sorted: set-nth($sorted, $j, nth($sorted, $j + 1));
                $sorted: set-nth($sorted, $j + 1, $temp);
            }
        }
    }
    
    @return $sorted;
}

@debug bubble_sort($list_to_sort);